<div class="col-10">
    <%= render 'shared/errors', obj: @appointment_test %>
</div>

<%= form_with(model: @appointment_test, local: true) do |f| %>
        
            <div class="form-group">
                
                <%= f.label 'Specimen Number' %>
                <div class="col-6">
                    <%= f.text_field :speciment_number, class:"form-control shadow rounded", placeholder: "Specimen Number"  %>
                </div>
            </div>
    
            <div class="form-group">
                <%= f.label :control_number %>
                <div class="col-6">
                    <%= f.text_field  :control_number, class:"form-control shadow rounded", placeholder: "Control Number"  %> 
                </div>
            </div>
            <div class="form-group">
                <%= f.label :result_date %>
                <div class="col-6">
                    <%= f.date_field :result_date, class:"form-control shadow rounded", placeholder: Date.today  %> 
                </div>
            </div>
            <div class="form-group">
                <%= f.label :result %>
                <div class="col-6">
                    <%= f.select :result, ['SARS-CoV-2 NEGATIVE', 'SARS-CoV-2 POSITIVE', 'Inconclusive'], style: 'display: block;'%>
                </div>
            </div>
            <div class="my-4">
                <hr>
            </div>
            
           <div class="form-group row text-center">
                <%= f.submit class:"btn blue-button mb-4" %>
            </div>
        <% end %>