<h1> HMCAP<%= @appointment_test.appointment_id %>'s Test Details</h1>

<div class="card mt-4" style="width: 50rem;">
    <div class="card-body">
        <h6 class="card-title">Appointment Number: HMCAP<%= @appointment_test.appointment.id %></h6></br>
        <h6 class="card-subtitle mb-2 text-muted">Laboratory Number: <%= @appointment_test.laboratory_number %></h6><br>
        <h6 class="card-subtitle mb-2 text-muted">Specimen Number: <%= @appointment_test.speciment_number %></h6></br>
        <h6 class="card-subtitle mb-2 text-muted">Control Number: <%= @appointment_test.control_number %></h6></br>
        <% if @appointment_test.result_date.present? %>
            <h6 class="card-subtitle mb-2 text-muted">Result Date: <%= @appointment_test.result_date.strftime("%d-%m-%Y") %></h6>
        <% else %>
            <h6 class="card-subtitle mb-2 text-muted">Result Date: No result date</h6>
        <% end %>
        
        <% if @appointment_test.result == 'SARS-CoV-2 NEGATIVE' %>
            <span class="badge badge-success mb-4">Result: <%= @appointment_test.result %></span></br>
        <% else %>
            <span class="badge badge-danger mb-4">Result: <%= @appointment_test.result %></span></br>
        <% end %>
        
        
        <h6 class="card-subtitle mb-2 text-muted">Approval Status: <%= @appointment_test.approval_status %></h6></br>

        <!-- if test is there put it here -->
        
        
        <p class="card-text">Record Created on: <%= @appointment_test.created_at %></p>
        <p class="card-text">Record Last updated on: <%= @appointment_test.updated_at %></p>
        
        <!-- User permissions -->
                <%= link_to "Certificate", show_certificate_path(@appointment_test, format: :pdf), class:"btn btn-outline-primary btn-sm" %>
                <%= link_to 'Edit', edit_appointment_test_path(@appointment_test), class:"btn btn-outline-primary btn-sm" %>
                <%= link_to 'Delete', appointment_test_path(@appointment_test), class:"btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>

      </div>
    </div></br>
    
<p>
    <%= link_to "Return to tests listing", appointment_tests_path %>
</p><br>