<!DOCTYPE html>
<html>
  <head>
    <title>HmcAppointmentPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="d-flex flex-column">
    <% if user_signed_in? %>
      <%= render 'layouts/admin_navigation' %>
    <% else %>
      <%= render 'layouts/navigation' %>
    <% end %>
    <div id="page-content">
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>